.header {
  width: 100%;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between; /* 👈 key line */
  padding: 12px 30px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.logo {
  height: 100px;
}

.logo2 {
  height: 70px;
}
